@page
@model CadastrarModel
@{
}


<div class="container">
    <h2>Cadastrar</h2>
    <form onsubmit="return valida()">
        <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" id="nome" name="Usuario.nome" placeholder="Nome" value="@Model.Usuario.Nome" />
        </div>
        <div class="form-group">
            <label for="email">E-mail</label>
            <input type="text" class="form-control" id="email" name="Usuario.email" placeholder="Email" value="@Model.Usuario.Email" />
        </div>
        <div class="form-group">
            <label for="cpf">CPF</label>
            <input type="text" class="form-control" id="cpf" name="Usuario.Cpf" placeholder="CPF" value="@Model.Usuario.Cpf" />
        </div>
        <div class="form-group">
            <label for="datanascimento">Data Nascimento</label>
            <input type="date" class="form-control" id="datanascimento" name="Usuario.DataNascimento" placeholder="Data Nascimento" value="@Model.Usuario.DataNascimento" />
        </div>
        <div class="form-group">
            <label for="senha">Senha</label>
            <input type="password" class="form-control" id="senha" name="Usuario.Senha" placeholder="Senha" value="@Model.Usuario.Senha" />
        </div>
        <div class="form-group">
            <label for="confirma_senha">Confirma Senha</label>
            <input type="password" class="form-control" id="confirma_senha" placeholder="Senha" />
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
</div>

<script>

    function valida(){
        let senha = document.getElementById("senha");
        let confirmacao = document.getElementById('confirma_senha');

        if(senha.value.length < 4){
            alert("A senha deve conter no mínimo 4 caracteres.");
            return false
        }
        
        if(senha.value != confirmacao.value){
            alert('A senha e a confirmação devem ser iguais.');
            return false;
        }
        return true;
    }

</script>